body {
    font-family: 'Poppins', sans-serif;
    background-color: #4a436f;
    color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
}

#tela-jogo {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

#oponentes {
    display: flex;
    justify-content: space-around;
    gap: 20px;

}

